name: QC Master Daily
on:
  schedule:
    - cron: '19 0 * * *'
  workflow_dispatch:

jobs:
  qc-master-daily:

    runs-on: ubuntu-20.04

    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare
        run: ./update.sh
        env:
          CI: true
          ARCHIVE: 1

      - name: Checkout xonotic-data master
        run: |
          git -C xonotic checkout master

      - name: Build
        run: ./build.sh
        env:
          TERM: xterm
          ARCHIVE: 1
